@import "_stylenull.scss";
//@import "slick.scss";
@import "_vars.scss"; 

body{
    font-family: $font-body;
}

 /* Container
 ===============*/
 .container {
    width: 100%;
    max-width: $con-sz+px;
    margin: 0 auto;
    padding: 0 15px;
}

//Header
//============================================
.header {

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    &__help {
        margin-left: auto;
        margin-right: 27px;
        @include font-style(15px,$col1,400);
        & span{
            color:$col-red;
        }
        & a{
           transition: text-decoration .1s linear;
           &:hover{
               text-decoration: underline;
           } 
        }
    }

    &__phone {
        color: $col1;
    }

    &__log-up {
        display: flex;
    }

    &__btn {
        display: flex;
        @include font-style(12px,#fff,400);
        height: 32px;
        width: 72px;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        margin-right: 7px;
        transition: background-color .1s linear;
        &:last-child{
            margin-right: 0;
        }
    }

    &__menu {
        background-color: $title-color;
    }
}

.btn--green{
    background-color: $col-green;
    &:hover{
        background-color: #7db33f;
    }
}
.btn--red{
    background-color: $col-red;
    &:hover{
        background-color: #d34738;
    }
}

.basket {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 26px;
    position: relative;
    &::before{
        content: '';
        display: none;
        position: absolute;
        width: 18px;
        height: 18px;
        top: -7px;
        right:-5px;
        border-radius: 50%;
        background-color: $col-red;
    }
}
.menu {
    padding: 25px 0;
    &__list {
        display: flex;
        & li{
            padding-right: 40px;
            line-height: 2;
        }
    }
    &__link {
        @include font-style(14px,#fff,500);
        transition: color .1s linear;

        &:last-child{
            padding-right: 0;
        }

        &:hover{
            color: rgba( #fff, .8);
        }    
    }
}

.search {
    background: $col-green url('../images/Icon/search/03.jpg') no-repeat;
    background-size: cover;
    &__inner {
        width: 100%;
        min-height: 533px;
        @extend %di-flx;
        padding: 150px 0 100px;
    }

    &__title {
       margin-bottom: 10px;
       & h1{
        @include font-style(48px,#fff,700);
        text-transform: capitalize;
        line-height: 1.5;
       }
    }

    &__text {
        @include font-style(20px,#fff,500);
        line-height: 1.5;
        margin-bottom: 54px;
    }

    &__form {
        max-width: 670px;
        width: 100%;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding: 0 60px 0 25px;
            &::placeholder{
                color: $col-inp;
            }
        }
    }

    &__btn{
        position: absolute;
        border: none;
        background-color: transparent;
        top: 18px;
        right: 20px;
    }
}

  